{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

{{ password|json_script:"key" }}
{{ uid|json_script:"uid" }}
{{ passwords|json_script:"passwords"}}


<body>
    <div id="header">
        <p>{{ uname }}</p>
        <form action="{% url 'logout' %}">
            <input type="submit" value="Logout" />
        </form>
    </div>



    <dialog id="passwordDialog" class="modal">
        <div class="alignRight"><button>×</button></div>
        <form id="passwordAddition">
            <label for="site">Site: </label><br>
            <input type="text" id="site" name="site"><br>
            <label for="uname">Username: </label><br>
            <input type="text" id="uname" name="uname"><br>
            <label for="pass">Password:</label><br>
            <input type="text" id="pass" name="pass">
            <button>Push</button>
        </form>
    </dialog>

    <div id="passwordsContainer">
        <div id="head">
            <h1>Saved Passwords: </h1>
            <button id="addPassword">+</button>
        </div>

        <ul id="passwords">
            {% for site,password in passwords.items %}
            <li class="password">
                <div>
                    <p class="item" id="{{ site }}">{{ site }}</p>
                    <button class="passwordDelete" id="{{ site }}" name="button">Delete</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

<script>
    const dialog = document.getElementById("passwordDialog");
    const form = document.getElementById("passwordAddition");
    const closeBtn = document.querySelector("dialog button");

    const addBtn = document.getElementById("addPassword");
    var items = document.getElementsByClassName("item");

    form.addEventListener("submit", makePasswordPostCall);
    // addBtn.addEventListener("submit", addPassword);

    for (var i = 0; i < items.length; i++) {
        items[i].addEventListener("click", passwordSelected);
    }

    // "Show the dialog" button opens the dialog modally
    addBtn.addEventListener("click", () => {
        dialog.showModal();
    });

    // "Close" button closes the dialog
    closeBtn.addEventListener("click", () => {
        dialog.close();
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function makePasswordPostCall(event) {
        var site = form.elements.namedItem("site").value;
        var password = form.elements.namedItem("pass").value;

        var key = JSON.parse(document.getElementById('key').textContent);
        var _uid = JSON.parse(document.getElementById('uid').textContent);

        const csrftoken = getCookie('csrftoken');

        // Generate necessary secrets for aes encryption
        var _iv = CryptoJS.lib.WordArray.random(16);
        var _salt = CryptoJS.lib.WordArray.random(16);
        var paddedKey = CryptoJS.PBKDF2(key, _salt, { keySize: 256 / 32, iterations: 1000 });

        var encrypted = CryptoJS.AES.encrypt(password, paddedKey, { iv: _iv });

        // Convert the encrypted data to a string to be stored
        const cipher = encrypted.ciphertext.toString(CryptoJS.enc.Base64)
        const salt = _salt.toString(CryptoJS.enc.Base64)
        const iv = _iv.toString(CryptoJS.enc.Base64);

        const payload = JSON.stringify({
            "site": site,
            "uid": _uid,
            "salt": salt,
            "iv": iv,
            "cipher": cipher
        });


        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("X-CSRFToken", csrftoken);

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: payload,
            redirect: "follow"
        };

        fetch("http://localhost:8000/api/passwords/", requestOptions)
            .catch((error) => console.error(error));

        location.reload();
        event.preventDefault();
    }

    function addPassword(event) {

    }

    function passwordSelected(event) {
        var key = JSON.parse(document.getElementById('passwords').textContent);
        const site = event.namedItem("button").attributes.id.value;
    }

    function passwordDelete(event) {
        const site = event.namedItem("button").attributes.id.value;
        const _uid = JSON.parse(document.getElementById('uid').textContent);

        const csrftoken = getCookie('csrftoken');

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("X-CSRFToken", csrftoken);

        const payload = JSON.stringify({
            "uid": _uid,
            "site": site
        });

        const requestOptions = {
            method: "DELETE",
            headers: myHeaders,
            body: payload,
            redirect: "follow"
        };

        fetch("http://localhost:8000/api/passwords/", requestOptions)
            .catch((error) => console.error(error));

        location.reload();
    }
</script>

</html>