<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

{{ password|json_script:"key" }}
{{ uid|json_script:"uid" }}


<body>
    <form action="{% url 'logout' %}">
        <input type="submit" value="Logout" />
    </form>

    <form id="passwordAddition">
        <label for="site">Site: </label><br>
        <input type="text" id="site" name="site"><br>
        <label for="pass">Password:</label><br>
        <input type="text" id="pass" name="pass">
        <button type="submit">Push</button>
    </form>

    <ul id="passwords">
        {% for site,password in passwords.items %}

        <li class="password">
            <div>
                <p class="item" id="{{ site }}">{{ site }} : {{ password }}</p>
                <button class="passwordDelete" id="{{ site }}" onclick="passwordDelete({{ site }})"
                    name="button">Delete</button>
            </div>
        </li>

        {% endfor %}
    </ul>
</body>

<script>
    var form = document.getElementById("passwordAddition");
    var items = document.getElementsByClassName("item");

    form.addEventListener("submit", makePasswordPostCall)

    for (var i = 0; i < items.length; i++) {
        items[i].addEventListener("click", passwordSelected);
    }



    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function makePasswordPostCall(event) {
        var site = form.elements.namedItem("site").value;
        var password = form.elements.namedItem("pass").value;

        var key = JSON.parse(document.getElementById('key').textContent);
        var _uid = JSON.parse(document.getElementById('uid').textContent);

        const csrftoken = getCookie('csrftoken');

        // Generate necessary secrets for aes encryption
        var _iv = CryptoJS.lib.WordArray.random(16);
        var _salt = CryptoJS.lib.WordArray.random(16);
        var paddedKey = CryptoJS.PBKDF2(key, _salt, { keySize: 256 / 32, iterations: 1000 });

        var encrypted = CryptoJS.AES.encrypt(password, paddedKey, { iv: _iv });

        // Convert the encrypted data to a string to be stored
        const cipher = encrypted.ciphertext.toString(CryptoJS.enc.Base64)
        const salt = _salt.toString(CryptoJS.enc.Base64)
        const iv = _iv.toString(CryptoJS.enc.Base64);

        const payload = JSON.stringify({
            "site": site,
            "uid": _uid,
            "salt": salt,
            "iv": iv,
            "cipher": cipher
        });


        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("X-CSRFToken", csrftoken);

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: payload,
            redirect: "follow"
        };

        fetch("http://localhost:8000/api/passwords/", requestOptions)
            .catch((error) => console.error(error));

        location.reload();
        event.preventDefault();
    }

    function passwordSelected(event) {
        const site = event.target.innerHTML.split(" : ")[0];
        const password = event.target.innerHTML.split(" : ")[1];

        form.elements.namedItem("site").value = site;
        form.elements.namedItem("pass").value = password;
    }

    function passwordDelete(event) {
        const site = event.namedItem("button").attributes.id.value;
        const _uid = JSON.parse(document.getElementById('uid').textContent);

        const csrftoken = getCookie('csrftoken');

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("X-CSRFToken", csrftoken);

        const payload = JSON.stringify({
            "uid": _uid,
            "site": site
        });

        const requestOptions = {
            method: "DELETE",
            headers: myHeaders,
            body: payload,
            redirect: "follow"
        };

        fetch("http://localhost:8000/api/passwords/", requestOptions)
            .catch((error) => console.error(error));

        location.reload();
    }
</script>

</html>